.reduce-img {
    width: 100%;
    margin: 0;
}

@media (min-width: 400px) {
    .reduce-img {
        width: 80%;
        margin: 0 10%;
    }
}

@media (min-width: 900px) {
    .reduce-img {
        width: 60%;
        margin: 0 20%;
    }
}

@media (min-width: 1400px) {
    .reduce-img {
        width: 40%;
        margin: 0 30%;
    }
}

@media (min-width: 2000px) {
    .reduce-img {
        width: 20%;
        margin: 0 40%;
    }
}
